[data-page-name="indexPage"] {
@include media-breakpoint(basic) {
    & .heroSection {
        & .shopingCards {
            & .innerCard {
                & .cardImg {
                    height: 40px;
                }
                & .cardSubTitle, & .cardTitle{
                    font-size: 14px;
                    line-height: 20px;
                }
            }
        }
    }
    
}
@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {
    & .heroSection {
        & .shopingCards {
            & .innerCard {
                & .cardImg {
                    height: 35px;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {}
}

@include media-breakpoint(basic) {
    .homeSectionHeading {
        & .sectionHeading {
            font-size: 30px;
            line-height: normal;
        }
        
        & .viewMoreBtn {
            font-size: 16px;
            line-height: normal;
            & img {
                height: 14px;
                transform-origin: center bottom;
                animation-name: swinging;
                animation-duration: 0.8s;
                animation-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1);
                animation-delay: 0s;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-fill-mode: none;
                animation-play-state: running;
            }
            @keyframes swinging{
                0%{transform: translateX(0px) }
                100%{transform: translateX(5px) }
            }
        }
    }
    .gamerWorldSection {
        & .innersection{
        }
        & .productCardRow {
            & .card {
                background: var(--bg) no-repeat, center;
                background-size: cover;
                & .cardtitle {
                    font-size: 16px;
                    line-height: 1.5rem;
                    letter-spacing: .025em;
                    font-weight: 600;
                }
                & .cardLink {
                    font-size: 14px;
                    line-height: 1.5rem;
                    letter-spacing: .025em;
                    color: rgb(121 121 121);
                    text-decoration: none;
                    margin-bottom: 3px;
                    &:hover {
                        color: #000000;
                        text-decoration: underline;
                    }
                }
                & .shopNow {
                    font-size: 16px;
                    line-height: 1.5rem;
                    letter-spacing: .025em;
                    font-weight: 600;
                    color: #000000;
                    text-decoration: none;
                    & img {
                        height: 14px;
                        margin-left: 4px;
                        transition: 0.3s ease-in-out;
                    }
                    &:hover {
                        & img {
                            transform: translateX(5px);
                        }
                    }
                }
            }
        }
    }
    
    .productCard {
        background-color: white;
        padding: 30px 20px;
        overflow: hidden;
        & .proImg {
            height: 280px;
            & img {
                height: 100%;
                width: 100%;
                object-fit: contain;
            }
        }
        & .proRating {
            & img {
                height: 17px;
                margin-right: 2px;
            }
        }
        & .proName {
            font-size: 15px;
            line-height: 24px;
            font-weight: 600;
            color: rgb(34 34 34);
            text-decoration: none;
            -webkit-box-orient: vertical;
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 2;
        }
        & .proPrice {
            font-size: 18px;
            font-weight: 600;
            & .oldPrice {
                color: rgb(121,121,121);
            }
            & .newPrice {
                color: rgb(239 38 44);
            }
        }
        & .addToCartBtn {
            border: none;
            background-color: $theme1;
            align-items: center;
            display: flex;
            font-size: 13px;
            font-weight: 600;
            justify-content: center;
            line-height: 0; 
            height: 2.5rem;
            text-decoration: none;
            position: absolute;
            bottom: 16px;
            width: calc(100% - 40px);
            left: 50%;
            transform: translateX(-50%) translateY(150%);
            z-index: 9;
            transition: 0.3s ease-in-out;
            & img {
                height: 16px;
                margin-right: 10px;
            }
            &:hover {
                background-color: darken($theme1, 11);
            }
        }
        & .cardOptions {
            position: absolute;
            z-index: 9;
            top: 80px;
            right: 25px;
            width: 40px;
            transform: translateX(150%);
            transition: 0.3s ease-in-out;
            & .optionBtn {
                height: 40px;
                width: 40px;
                border: 0;
                background-color: rgb(248 248 248);
                & img {
                    height: 18px;
                    transition: 0.3s ease-in-out;
                }
                &:hover {
                    & img {
                        transform: scale(1.1);
                    }
                }
            }
        }
        & .progressShow {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top: 18px;
            & .text {
                font-size: 12px;
                font-weight: 400;
                color: rgb(34 34 34);
                line-height: 1.5rem;
            }
            & .value {
                font-size: 14px;
                font-weight: 600;
                color: rgb(34 34 34);
                line-height: 1.5rem;
            }
            & .progress {
                height: 5px;
                & .progress-bar {
                    background-color: $theme1;
                }
            }
        }
        & .categoryBadge {
            font-size: 9px;
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: .05em;
            color: rgb(255 255 255);
            background-color: var(--bg);
            display: inline-block;
            width: auto;
            padding: 5px 10px;
            border-radius: 8px;
            position: absolute;
            top: 20px;
            right: 20px;
        }
        &:hover {
            & .addToCartBtn {
                transform: translateX(-50%) translateY(0);
            }
            & .cardOptions {
                transform: translateX(0);
            }
        }
    }
    .flashSaleSection {
        & .innersection {
            & .leftSideCard {   
                & .card {
                    background-repeat: no-repeat;
                    background-size: cover;
                    // background: url(../img/campaign-cover-countdown.jpg) 0% 0% / cover no-repeat;
                    & .card-body{
                        & .counter {
                            width: 100px;
                            height: 100px;
                            & span {
                                font-size: 30px;
                                color: var(--cl);
                            }
                        }
                        & .counterHeading {
                            font-size: 18px;
                            line-height: normal;
                        }
                        & .flashHeading {
                            font-size: 44px;
                            color: rgb(34 34 34);
                            font-weight: 600;
                        }
                        & .shopNowBtn {
                            font-size: 14px;
                            font-weight: 600;
                            letter-spacing: .025rem;
                            line-height: 1.75rem;
                            text-decoration: none;
                            display: inline-block;
                            color: rgb(34 34 34);
                            border-bottom: 1px solid rgb(255 187 56);
                            & img {
                                margin-left: 4px;
                                transition: 0.3s ease-in-out;
                                height: 13px;
                            }
                            &:hover {
                                & img {
                                    transform: translateX(3px);
                                }
                            }
                        }
                        & .appText {
                            color: rgb(34 34 34);
                            font-size: 13px;
                            font-weight: 600;
                            margin-bottom: 0.75rem;
                        }
                        & .mainText {
                            font-size: 30px;
                            line-height: 2.5rem;
                            color: rgb(34 34 34);
                            font-weight: 600;
                            margin-bottom: 2rem;
                            & span {
                                color: red;
                                border-bottom: 2px solid red;
                            }
                        }
                        & .downloadBtn {
                            & a {
                                & img {
                                    height: 69px;
                                }
                            }
                        }
                        & .appScreen {
                            margin-top: 2rem;
                            text-align: center;
                            & img {
                                width: 100%;
                            }
                        }
                    }
                }
            }
        }
    }
    .topSellingProductsSection {
        & .tpCard {
            overflow: hidden;
            border: none;
            border-radius: 0;
            padding:24px;
            transition: all 0.5s ease-in-out;
            height: 100%;
            & .imgOuter {
                max-width: 250px;
                width: 100%;
                height: 190px;
                display: flex;
                align-items: center;
                justify-content: center;
                & img {
                    object-fit: contain;
                }
            }
            & .starIcon {
                display: flex;
                align-items: center;
                & img {
                    width: 17px;
                    height: 17px;
                }
            }
            & .proHeading {
                color: rgb(34 34 34);
                font-weight: 600;
                font-size: 15px;
                -webkit-box-orient: vertical;
                display: -webkit-box;
                overflow: hidden;
                -webkit-line-clamp: 2;
                line-height: 24px;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: rgb(37, 99, 235);
                }
            }
            & .productPrize {
                & .delPrize {
                    font-size: 18px;
                    font-weight: 600;
                    text-decoration-line: line-through;
                    color: rgb(121,121,121);
                }
                & .actPrize {
                    font-size: 18px;
                    font-weight: 600;
                    color: rgb(239, 38, 44);
                }
            }
            & .addCartBtn {
                width: 110px;
                height: 30px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 13px;
                font-weight: 600;
                background-color: rgb(255, 187, 56);
                color: rgb(29, 29, 29);
                text-decoration: none;
            }
            & .hoverBtns {
                width: auto;
                position: absolute;
                top: 0;
                right: -100%;
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                transition: all 0.5s ease-in-out;
                padding: 0;
                & .hoverBtn {
                    width: 40px;
                    height: 40px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: rgb(248, 248, 248);
                    padding: 5px;
                }
            }
            &:hover {
                & .hoverBtns {
                    right: 0;
                }
            }
        }
    }
    .bestSallerSection {
        & .bestSellerCard {
            display: flex;
            gap: 10px;
            flex-direction: column;
            & .bestImg {
                width: 170px;
                height: 170px;
                border-radius: 50%;
                overflow: hidden;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: white;
                padding: 35px;
            }
            & .bestSellerLink {
                font-size: 1rem;
                line-height: 1.5rem;
                font-weight: 500;
                text-align: center;
                color: black;
                text-decoration: none;
            }
        }
    }
    .popularSallesSection {
        & .popCard {
            height: 100%;
            padding: 8px;
            background-color: white;
            & .imgSide {
                width: 75px;
                height: 100%;
                & img {
                    object-fit: contain;
                }
            }
            & .cardHeading {
                text-decoration: none;
                font-size: 15px;
                font-weight: 600;
                color: rgb(34, 34, 34);
                line-height: 24px;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                display: -webkit-box;
                overflow: hidden;
                transition: all 0.3s ease-in-out;
                &:hover {
                    color: rgb(37, 99, 235);
                }
            }
            & .cardPriz {
                & .delPriz {
                    font-weight: 600;
                    text-decoration-line: line-through;
                    font-size: 18px;
                    color: rgb(121,121,121);
                }
                & .actPriz {
                    font-size: 18px;
                    font-weight: 600;
                    color: rgb(239,38,44);
                }
            }
        }
    }

}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {
    .homeSectionHeading {
        & .sectionHeading {}
        
        & .viewMoreBtn {
            & img {
            }
        }
    }
    .gamerWorldSection {
        & .innersection{
        }
        & .viewMoreBtn {
            & img {
            }
        }
        & .productCardRow {
            & .card {
                & .cardtitle {
                }
                & .cardLink {
                    &:hover {
                    }
                }
                & .shopNow {
                    & img {
                    }
                    &:hover {
                        & img {
                        }
                    }
                }
            }
            & .productCard {
                & .proImg {
                    & img {
                    }
                }
                & .proRating {
                    & img {
                    }
                }
                & .proName {
                }
                & .proPrice {
                    & .oldPrice {
                    }
                    & .newPrice {
                    }
                }
                & .addToCartBtn {
                    & img {
                    }
                    &:hover {
                    }
                }
                & .cardOptions {
                    & .optionBtn {
                        & img {
                        }
                    }
                }
                & .progressShow {
                    & .text {
                    }
                    & .value {
                    }
                    & .progress {
                        & .progress-bar {
                        }
                    }
                }
                & .categoryBadge {
                }
            }
        }
    }
    .flashSaleSection {
        & .innersection {
            & .leftSideCard {   
                & .card {
                    & .card-body{
                        & .counter {
                            & span {
                            }
                        }
                        & .counterHeading {
                        }
                        & .flashHeading {
                        }
                        & .shopNowBtn {
                            & img {
                            }
                            &:hover {
                                & img {
                                }
                            }
                        }
                        & .appText {
                        }
                        & .mainText {
                            & span {
                            }
                        }
                        & .downloadBtn {
                            & a {
                                & img {
                                }
                            }
                        }
                        & .appScreen {
                            & img {
                            }
                        }
                    }
                }
            }
        }
    }
}

@include media-breakpoint-down(xl) {
    .homeSectionHeading {
        & .sectionHeading {}
        & .viewMoreBtn {
            & img {
            }
        }
    }
    .gamerWorldSection {
        & .innersection{
        }
        & .productCardRow {
            & .card {
                & .cardtitle {
                }
                & .cardLink {
                    &:hover {
                    }
                }
                & .shopNow {
                    & img {
                    }
                    &:hover {
                        & img {
                        }
                    }
                }
            }
        }
    }
    .productCard {
        & .proImg {
            & img {
            }
        }
        & .proRating {
            & img {
            }
        }
        & .proName {
        }
        & .proPrice {
            & .oldPrice {
            }
            & .newPrice {
            }
        }
        & .addToCartBtn {
            & img {
            }
            &:hover {
            }
        }
        & .cardOptions {
            & .optionBtn {
                & img {
                }
            }
        }
        & .progressShow {
            & .text {
            }
            & .value {
            }
            & .progress {
                & .progress-bar {
                }
            }
        }
        & .categoryBadge {
        }
    }
    .flashSaleSection {
        & .innersection {
            & .leftSideCard {   
                & .card {
                    & .card-body{
                        & .counter {
                            width: 90px;
                            height: 90px;
                            & span {
                            }
                        }
                        & .counterHeading {
                            font-size: 17px;
                        }
                        & .flashHeading {
                            font-size: 40px;
                            margin-top: 2rem !important;
                        }
                        & .shopNowBtn {
                            & img {
                            }
                            &:hover {
                                & img {
                                }
                            }
                        }
                        & .appText {
                        }
                        & .mainText {
                            & span {
                            }
                        }
                        & .downloadBtn {
                            & a {
                                & img {
                                    height: 60px;
                                }
                            }
                        }
                        & .appScreen {
                            & img {
                            }
                        }
                    }
                }
            }
        }
    }
    .topSellingProductsSection {
        & .tpCard {
            & .imgOuter {
                width: 200px;
                & img {
                }
            }
            & .starIcon {
                & img {
                }
            }
            & .proHeading {
                &:hover {
                }
            }
            & .productPrize {
                & .delPrize {
                }
                & .actPrize {
                }
            }
            & .addCartBtn {
            }
            & .hoverBtns {
                & .hoverBtn {
                }
            }
            &:hover {
                & .hoverBtns {
                }
            }
        }
    }
    .bestSallerSection {
        & .bestSellerCard {
            & .bestImg {
                width: 145px;
                height: 145px;
                padding: 30px;
            }
            & .bestSellerLink {
            }
        }
    }

}

@include media-breakpoint-down(lg) {
    
    .homeSectionHeading {
        & .sectionHeading {
            font-size: 22px;
        }
        & .viewMoreBtn {
            & img {
            }
        }
    }
    .gamerWorldSection {
        & .innersection{
        }
        & .productCardRow {
            & .card {
                & .cardtitle {
                }
                & .cardLink {
                    &:hover {
                    }
                }
                & .shopNow {
                    & img {
                    }
                    &:hover {
                        & img {
                        }
                    }
                }
            }
        }
    }
    
    .productCard {
        & .proImg {
            & img {
            }
        }
        & .proRating {
            & img {
            }
        }
        & .proName {
        }
        & .proPrice {
            & .oldPrice {
            }
            & .newPrice {
            }
        }
        & .addToCartBtn {
            & img {
            }
            &:hover {
            }
        }
        & .cardOptions {
            & .optionBtn {
                & img {
                }
            }
        }
        & .progressShow {
            & .text {
            }
            & .value {
            }
            & .progress {
                & .progress-bar {
                }
            }
        }
        & .categoryBadge {
        }
    }
    .flashSaleSection {
        & .innersection {
            & .leftSideCard {   
                & .card {
                    min-height: 400px;
                    & .card-body{
                        & .counter {
                            // height: 67px;
                            // width: 67px;
                            & span {
                                // font-size: 24px;
                            }
                        }
                        & .counterHeading {
                        }
                        & .flashHeading {
                        }
                        & .shopNowBtn {
                            & img {
                            }
                            &:hover {
                                & img {
                                }
                            }
                        }
                        & .appText {
                        }
                        & .mainText {
                            & span {
                            }
                        }
                        & .downloadBtn {
                            & a {
                                & img {
                                }
                            }
                        }
                        & .appScreen {
                            & img {
                            }
                        }
                    }
                }
            }
        }
    }
    .topSellingProductsSection {
        & .tpCard {
            padding: 18px;
            & .imgOuter {
                width: 130px;
                & img {
                }
            }
            & .starIcon {
                & img {
                }
            }
            & .proHeading {
                &:hover {
                }
            }
            & .productPrize {
                & .delPrize {
                }
                & .actPrize {
                }
            }
            & .addCartBtn {
            }
            & .hoverBtns {
                & .hoverBtn {
                }
            }
            &:hover {
                & .hoverBtns {
                }
            }
        }
    }
    .bestSallerSection {
        & .bestSellerCard {
            & .bestImg {
                width: 130px;
                height: 130px;
                padding: 25px;
            }
            & .bestSellerLink {
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .homeSectionHeading {
        & .sectionHeading {
            font-size: 20px;
        }
        & .viewMoreBtn {
            font-size: 14px;
            & img {
                height: 12px;
            }
        }
    }
    .gamerWorldSection {
        & .innersection{
        }
        & .productCardRow {
            & .card {
                & .cardtitle {
                }
                & .cardLink {
                    &:hover {
                    }
                }
                & .shopNow {
                    & img {
                    }
                    &:hover {
                        & img {
                        }
                    }
                }
            }
        }
    }
    
    .productCard {
        & .proImg {
            & img {
            }
        }
        & .proRating {
            & img {
            }
        }
        & .proName {
        }
        & .proPrice {
            & .oldPrice {
            }
            & .newPrice {
            }
        }
        & .addToCartBtn {
            & img {
            }
            &:hover {
            }
        }
        & .cardOptions {
            & .optionBtn {
                & img {
                }
            }
        }
        & .progressShow {
            & .text {
            }
            & .value {
            }
            & .progress {
                & .progress-bar {
                }
            }
        }
        & .categoryBadge {
        }
    }
    .flashSaleSection {
        & .innersection {
            & .leftSideCard {   
                & .card {
                    & .card-body{
                        & .counter {
                            & span {
                            }
                        }
                        & .counterHeading {
                        }
                        & .flashHeading {
                        }
                        & .shopNowBtn {
                            & img {
                            }
                            &:hover {
                                & img {
                                }
                            }
                        }
                        & .appText {
                        }
                        & .mainText {
                            & span {
                            }
                        }
                        & .downloadBtn {
                            & a {
                                & img {
                                }
                            }
                        }
                        & .appScreen {
                            & img {
                            }
                        }
                    }
                }
            }
        }
    }
    .topSellingProductsSection {
        & .tpCard {
            & .imgOuter {
                width: 115px;
                height: 170px;
                & img {
                }
            }
            & .starIcon {
                & img {
                }
            }
            & .proHeading {
                font-size: 14px;
                &:hover {
                }
            }
            & .productPrize {
                & .delPrize {
                    font-size: 16px;
                }
                & .actPrize {
                    font-size: 16px;
                }
            }
            & .addCartBtn {
            }
            & .hoverBtns {
                & .hoverBtn {
                }
            }
            &:hover {
                & .hoverBtns {
                }
            }
        }
    }
    .bestSallerSection {
        & .bestSellerCard {
            & .bestImg {
                width: 120px;
                height: 120px;
                padding: 25px;
            }
            & .bestSellerLink {
                font-size: 15px;
            }
        }
    }
    .popularSallesSection {
        & .popCard {
            & .imgSide {
                width: 65px;
                & img {
                }
            }
            & .cardHeading {
                font-size: 14px;
                &:hover {
                }
            }
            & .cardPriz {
                & .delPriz {
                    font-size: 16px;
                }
                & .actPriz {
                    font-size: 16px;
                }
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    
    .homeSectionHeading {
        & .sectionHeading {}
        & .viewMoreBtn {
            & img {
            }
        }
    }
    .gamerWorldSection {
        & .innersection{
        }
        & .productCardRow {
            & .card {
                & .cardtitle {
                }
                & .cardLink {
                    &:hover {
                    }
                }
                & .shopNow {
                    & img {
                    }
                    &:hover {
                        & img {
                        }
                    }
                }
            }
        }
    }
    
    .productCard {
        & .proImg {
            & img {
            }
        }
        & .proRating {
            & img {
            }
        }
        & .proName {
        }
        & .proPrice {
            & .oldPrice {
            }
            & .newPrice {
            }
        }
        & .addToCartBtn {
            & img {
            }
            &:hover {
            }
        }
        & .cardOptions {
            & .optionBtn {
                & img {
                }
            }
        }
        & .progressShow {
            & .text {
            }
            & .value {
            }
            & .progress {
                & .progress-bar {
                }
            }
        }
        & .categoryBadge {
        }
    }
    .flashSaleSection {
        & .innersection {
            & .leftSideCard {   
                & .card {
                    min-height: 350px;
                    & .card-body{
                        & .counter {
                            max-width: 90px;
                            width: 100%;
                            height: auto;
                            aspect-ratio: 1/1;
                            & span {
                                font-size: 6vw;
                            }
                        }
                        & .counterHeading {
                            font-size: 3.5vw;
                        }
                        & .flashHeading {
                            font-size: 28px;
                        }
                        & .shopNowBtn {
                            & img {
                            }
                            &:hover {
                                & img {
                                }
                            }
                        }
                        & .appText {
                        }
                        & .mainText {
                            font-size: 20px;
                            line-height: 2rem;
                            margin-bottom: 1.2rem;
                            & span {
                            }
                        }
                        & .downloadBtn {
                            padding-right: 0;
                            & a {
                                & img {
                                    height: 42px;
                                }
                            }
                        }
                        & .appScreen {
                            & img {
                            }
                        }
                    }
                }
            }
        }
    }
    .topSellingProductsSection {
        & .tpCard {
            & .imgOuter {
                width: 100px;
                height: 150px;
                & img {
                }
            }
            & .starIcon {
                & img {
                }
            }
            & .proHeading {
                font-size: 14px;
                &:hover {
                }
            }
            & .productPrize {
                & .delPrize {
                    font-size: 15px;
                }
                & .actPrize {
                    font-size: 15px;
                }
            }
            & .addCartBtn {
            }
            & .hoverBtns {
                & .hoverBtn {
                }
            }
            &:hover {
                & .hoverBtns {
                }
            }
        }
    }
    .bestSallerSection {
        & .bestSellerCard {
            & .bestImg {
                width: 100px;
                height: 100px;
                padding: 25px;
            }
            & .bestSellerLink {
                font-size: 14px;
            }
        }
    }
}