@include media-breakpoint(basic) {
  .topHeader {
    border-bottom: 1px solid rgb(239, 239, 239);
    & ul {
      gap: 10px;
      & .nav-link {
        font-size: 12px;
        font-weight: 500;
        color: lighten($black, 5);
        padding: 11px 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        & img {
          width: 16px;
          height: 16px;
          border-radius: 50%;
          overflow: hidden;
          margin-right: 5px;
        }
        &.dropdown-toggle {
          &::after {
            border: none;
            background-image: url('../img/svg/chevron-down.svg');
          }
        }
      }
    }
  }
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}
 
@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}