@include media-breakpoint(basic) {
    .breadCrumbFluid{
        & .breadCrumbContainer{
            & .singleProductBreadcrumbOl{
                & .singleProductBreadcrumbLi{
                    & .singleProductBreadcrumbAnchor{
                        font-size: 13px;
                        font-weight: 400;
                        color: $black;
                    }
                }
            }
        }
    }
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}