@include media-breakpoint(basic) {
    .pageHeading {
        background-color: rgb(255 250 239);
        & .breadcrumb {
            & .breadcrumb-item {
                font-size: 13px;
                font-weight: 400;
                & a {
                    text-decoration: none;
                    color: rgba(33, 37, 41, 0.75);
                }
                &.active {}
            }
        }
    }
}
@include media-breakpoint-up(sm) {}

@include media-breakpoint-up(md) {}

@include media-breakpoint-up(lg) {}

@include media-breakpoint-up(xl) {}

@include media-breakpoint-up(xxl) {}


@include media-breakpoint-down(xxl) {}

@include media-breakpoint-down(xl) {}

@include media-breakpoint-down(lg) {}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {}